html,
body {
    height: 100%;
}
  
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.hero-unit{
    height: 100%;
}
.questionsBox{
    width: 78%;
}

.nameBox{
    width: 20%;
}

.nameItem,
.questionItem{
    font-size: 18px;
}

.footer {
    height: 60px;
}

.push {
    height: 60px;
}